<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>Biblioteka : Dodawanie książki</title>
</head>
<body>
	<h1 layout:fragment="header">Biblioteka : Dodawanie książki</h1>
	<div layout:fragment="content" class="container">

		<form id="bookForm" th:action="@{/book/add}" th:object="${bookDto}" method="post">
			<div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
				<p th:each="error : ${#fields.errors('*')}" th:text="${error}">
					Validation error</p>
			</div>
			<div class="row">
				<div class="col-md-6">
					<input type="text" class="form-control" placeholder="Tytuł" th:field="*{title}"/>
				</div>
				<div class="col-md-6">
					<input type="text" class="form-control" placeholder="Podtytuł" th:field="*{subtitle}"/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<input type="text" class="form-control" placeholder="Autor" th:field="*{author}"/>
				</div>
				<div class="col-md-4">
					<input type="text" class="form-control" placeholder="Rok wydania" th:field="*{releaseYear}"/>
				</div>
				<div class="col-md-4">
					<input type="text" class="form-control" placeholder="ISBN" th:field="*{ISBN}"/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<input type="text" class="form-control" placeholder="Wydanie" th:field="*{release}"/>
				</div>
				<div class="col-md-6">
					<input type="text" class="form-control" placeholder="Wydawca" th:field="*{releaser}"/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<textarea placeholder="Opis" class="form-control" th:field="*{description}"></textarea>
				</div>

			</div>
			<div class="row">
				<div class="col-md-12">
					<input type="submit" value="Zapisz">
				</div>
			</div>
		</form>

	</div>
</body>
</html>
