<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Messages : View all</title>

</head>
<body>
<h1 layout:fragment="header">
    <span th:if="${searchDto.searchType}  == 1" th:text="'Biblioteka : Wypożycz książkę dla ' +${searchDto.title}"></span>
    <span th:if="${searchDto.searchType}  == 2" th:text="'Biblioteka : Znajdź użytkownika dla '+ ${searchDto.title}"></span>
</h1>
<div layout:fragment="content" class="container">
    <div class="row">
        <form th:if="${searchDto.searchType}  == 1" th:action="@{/rent/user(id=${masterId})}" th:object="${searchDto}" method="post">
            <div class="col-md-4">
                <input type="hidden" th:field="*{searchType}"/>
                <input type="hidden" th:field="*{title}"/>
                <span > Wyszukiwanie książek</span>
            </div>
            <div class="col-md-8">
                <input type="text" th:field="*{query}" name="query"><input type="submit" value="Szukaj">
            </div>
        </form>
        <form th:if="${searchDto.searchType}  == 2" th:action="@{/rent/book(id=${masterId})}" th:object="${searchDto}" method="post">
            <div class="col-md-4">
                <input type="hidden" th:field="*{searchType}"/>
                <input type="hidden" th:field="*{title}"/>
                <span> Wyszukiwanie użytkowników</span>
            </div>
            <div class="col-md-8">
                <input type="text" th:field="*{query}" name="query"><input type="submit" value="Szukaj">
            </div>
        </form>
    </div>
    <div class="pull-right">
        <!--<a th:href="@{/form}">Dodaj wiadomość</a>-->
    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td th:if="${searchDto.searchType}  == 1">Tytuł</td>
            <td th:if="${searchDto.searchType}  == 1">ISBN</td>
            <td th:if="${searchDto.searchType} == 2">Imię</td>
            <td th:if="${searchDto.searchType} == 2">Numer telefonu</td>
            <td>Akcja</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${searchDto.resultList.empty}">
            <td colspan="3">Brak wyników</td>
        </tr>
        <tr th:each="messageDto : ${searchDto.resultList}">
            <td th:text="${messageDto.name}">1</td>
            <td th:text="${messageDto.secondary}"> The summary </a></td>
            <td th:if="${searchDto.searchType}  == 1">
                <a  th:href="@{/rent/thisbook(id=${messageDto.id}, userId=${masterId})}" >Wypożycz</a>
            </td>
            <td th:if="${searchDto.searchType} == 2">
                <a  th:href="@{/rent/touser(id=${masterId}, userId=${messageDto.id})}" >Wypożycz</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
