<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Messages : View all</title>

</head>
<body>
<h1 layout:fragment="header">Biblioteka : Wyszukiwarka</h1>
<div layout:fragment="content" class="container">
    <div class="row">
        <form th:action="@{/user/search}" th:object="${searchDto}" method="post">
            <div class="col-md-4">
                <select th:field="*{searchType}">
                    <option th:value="2">Użytkownik</option>
                </select>
            </div>
            <div class="col-md-8">
                <input type="text" th:field="*{query}" name="query"><input type="submit" value="Szukaj">
            </div>
        </form>
    </div>
    <div class="pull-right">
        <!--<a th:href="@{/form}">Dodaj wiadomość</a>-->
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Imię</td>
                <td>Numer telefonu</td>
                <td>Akcja</td>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${searchDto.resultList.empty}">
                <td colspan="3">Brak wyników</td>
            </tr>
            <tr th:each="messageDto : ${searchDto.resultList}">
                <td th:text="${messageDto.name}">1</td>
                <td th:text="${messageDto.secondary}"> The summary </a></td>
				<td><a  th:href="@{'/user/id/'+${messageDto.id}}">Oddaj</a></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
