<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Messages : View all</title>

</head>
<body>
<h1 layout:fragment="header">
    <span>PROFIL</span>
</h1>
<div layout:fragment="content" class="container">
    <div class="pull-right">
        <!--<a th:href="@{/form}">Dodaj wiadomość</a>-->
    </div>
    <div class="row">
        <div class="col-md-4">Imie i nazwisko</div>
        <div class="col-md-4" th:text="${userDto.username}"></div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td >Tytuł</td>
            <td >ISBN</td>
            <td>Akcja</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${rentDtoList.empty}">
            <td colspan="3">Brak wyników</td>
        </tr>
        <tr th:each="bookDto : ${rentDtoList}">
            <td th:text="${bookDto.title}">1</td>
            <td th:text="${bookDto.ISBN}"> The summary </a></td>
            <td>
                <a  th:href="@{/user/return(userId=${masterId},bookId=${bookDto.id})}">Oddaj</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
