<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="UTF-8">
<head>
<title>Layout</title>
<link th:rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link th:rel="stylesheet" th:href="@{/css/bootstrap-theme.css}" />
<script th:src="@{/js/jquery-1.12.4.js}"></script>
<script src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/npm.js}"></script>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand">Biblioteka</a>
				</div>
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Użytkownicy <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/user/add}">Dodaj użytkownika</a></li>
								<li><a th:href="@{/}">-----</a></li>
							</ul>
					</ul>

					<ul class="nav navbar-nav ">

						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Książki <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/book/add}">Dodaj Książkę</a></li>
								<li><a th:href="@{/}">Wyszukaj książki</a></li>
							</ul></li>
					</ul>

					<ul class="nav navbar-nav ">

						<li class="dropdown"><a href="#" class="dropdown-toggle"
												data-toggle="dropdown" role="button" aria-haspopup="true"
												aria-expanded="false">Wypożyczalnia<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/}">Wypożycz Książkę</a></li>
								<li><a th:href="@{/user/search}">Oddaj książki</a></li>
								<li><a th:href="@{/}">Satystyki</a></li>
							</ul></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

		<div class="row" id="notifications" th:with="notifyMessages=${session[T(pl.sda.service.MessageService).NOTIFY_MSG_SESSION_KEY]}">
			<div th:class="${msg.type}" role="alert"
				 th:each="msg : ${notifyMessages}" th:text="${msg.text}">
			</div>
			<span th:if="${notifyMessages != null}" th:remove="all"  th:text="${session.notificationMessages.clear()}"></span>
		</div>

		<h1 layout:fragment="header">Layout</h1>
		<div layout:fragment="content">Fake content</div>
	</div>

	<script>
        $("#notifications").fadeOut(6000);
	</script>
</body>
</html>
